src/main/resources/job.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="job">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="stage" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="on_error" minOccurs="0">
                                <xs:complexType>
                                    <xs:attribute name="handling_strategy" type="xs:string" use="required"/>
                                    <xs:attribute name="retry_count" type="xs:int" use="optional"/>
                                </xs:complexType>
                            </xs:element>

                            <xs:element name="task" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>

                                        <xs:element name="input">
                                            <xs:complexType>
                                                <xs:attribute name="src" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="action">
                                            <xs:complexType>
                                                <xs:attribute name="type" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>

                                        <xs:element name="output">
                                            <xs:complexType>
                                                <xs:attribute name="src" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>

                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>

                        <xs:attribute name="id" type="xs:string" use="required"/>
                        <xs:attribute name="pre_req" type="xs:string" use="optional"/>

                    </xs:complexType>
                </xs:element>

            </xs:sequence>

            <xs:attribute name="id" type="xs:string" use="required"/>

        </xs:complexType>
    </xs:element>

</xs:schema>