src/main/resources/schema/superiorjob.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://data-pipeline-config.netlify.app/"
    elementFormDefault="qualified"
    xmlns:p="https://data-pipeline-config.netlify.app/">

    <xs:element name="job" type="p:JobType"/>


    <!-- JobType -->
    <xs:complexType name="JobType">
        <xs:sequence>
            <xs:element name="stage" type="p:StageType"  minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="p:NonEmptyString" use="required"/>
    </xs:complexType> 

    <!-- StageType-->
    <xs:complexType name="StageType">
        <xs:sequence>
            <xs:element name="on_error" type="p:OnErrorType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="task" type="p:TaskType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="pre_req" type="xs:IDREFS" use="optional"/>
    </xs:complexType>

    <!--TaskType-->
    <xs:complexType name="TaskType">
        <xs:sequence>
            <xs:element name="input" type="p:InputType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="action" type="p:ActionType" minOccurs="1" maxOccurs="1"/>
            <xs:element name="output" type="p:OutputType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>   
    </xs:complexType>

    <!--InputType-->
    <xs:complexType name="InputType">
        <xs:sequence>
            <xs:element name="property" type="p:PropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="type" type="p:NonEmptyString" use="required" /> 
    </xs:complexType>

    <!--OutputType-->
    <xs:complexType name="OutputType">
        <xs:sequence>
            <xs:element name="property" type="p:PropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="type" type="p:NonEmptyString" use="required" /> 
    </xs:complexType>

    <!--ActionType-->
    <xs:complexType name="ActionType">
        <xs:sequence>
            <xs:element name="method" type="p:MethodType" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="type" type="p:NonEmptyString" use="required" />
    </xs:complexType>

    <!--methodType-->
    <xs:complexType name="MethodType">
        <xs:sequence>
            <xs:element name="param" type="p:PropertyType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="name" type="p:NonEmptyString" use="required" />
    </xs:complexType>

    <!--Generic property Type-->  
    <xs:complexType name="PropertyType">
        <xs:attribute name="name" type="p:NonEmptyString" use="required" />
        <xs:attribute name="value" type="p:NonEmptyString" use="required" />
    </xs:complexType>
    

    <!--OnErrorType-->
    <xs:complexType name="OnErrorType">
        <xs:attribute name="handling_strategy" type="p:HandlingStrategyEnum" use="required"/>
        <xs:attribute name="retry_count" type="xs:nonNegativeInteger" use="optional"/>
    </xs:complexType>    

    <!--Utilities-->

    <!--NonEmptyString type-->
    <xs:simpleType name="NonEmptyString">
        <xs:restriction base="xs:token">
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>

    <!--HandlingStrategyEnum type-->
    <xs:simpleType name="HandlingStrategyEnum">
        <xs:restriction base="xs:token">
            <xs:enumeration value="STOP"/>
            <xs:enumeration value="SKIP"/>
            <xs:enumeration value="RETRY"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>

   

    